body {
  font-family: sans-serif;
}

/* Make content area fill the entire browser window */
html, .fullscreen {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background: rgb(231, 72 ,72);
}

/* Center the content in the browser window */
.container {
  margin: auto;
  text-align: center;
}

.custom_button {
  background-color: rgb(232, 59, 59);
  border: none;
  color: white;
  font-size: 4vw;
  padding: 10px;
  position:fixed;
  bottom:0;
  right:0;
  left: 0;
}

.title {
  font-size: 5vw;
}
